jobs:
  build-package:
    runs-on: ubuntu-latest
    name: Build and install package
    steps:
    - name: Check package can be built and pip install-ed
      uses: CasperWA/check-sdist-action@v1
      with:
        repository: filau/python_divia_api
        branch: bt
